html 
    head    
        title Form test 
    body
        if(uname)
            h4 you have entered user name = #{uname} and password= #{password} 
        else 
            h4 did not receive any username